.pricing-page {
  &__a-la-carte-item {
    margin-right: 8%;
    margin-left: 8%;
  }

  &__small-item {
    max-width: 50%;
    height: auto;
    margin-left: 25%;
    &__description {
      margin-top: 10%;
    }
  }
  &__castle2 {
    max-width: 70%;
    height: auto;
    margin-left: 10%;
    &__description {
      margin-top: 5%;
    }
  }
}
